<cs-auth-layout header="Signup" mainText="Create an Account">
  <form
    authForm
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    class="auth-form"
  >
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstName"
          autcomplete="off"
        />
      </mat-form-field>

      <div
        *ngIf="(submitted || f.firstName.touched) && f.firstName.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastName"
          autcomplete="off"
        />
      </mat-form-field>

      <div
        *ngIf="(submitted || f.lastName.touched) && f.lastName.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          autcomplete="off"
        />
      </mat-form-field>

      <div
        *ngIf="(submitted || f.username.touched) && f.username.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="inputType"
          formControlName="password"
          autcomplete="off"
        />
        <mat-icon matSuffix class="clickable" (click)="changeType()">
          {{ inputType === "password" ? "visibility" : "visibility_off" }}
        </mat-icon>
      </mat-form-field>

      <div
        *ngIf="(submitted || f.password.touched) && f.password.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dob"
          [max]="maxDate"
          autcomplete="off"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div
        *ngIf="(submitted || f.dob.touched) && f.dob.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input
          matInput
          aria-label="Country"
          [matAutocomplete]="countryAutocomplete"
          formControlName="country"
          autcomplete="off"
        />
        <mat-autocomplete
          #countryAutocomplete="matAutocomplete"
          [displayWith]="displayFn"
        >
          <mat-option
            *ngFor="let country of filteredCountries | async"
            [value]="country"
          >
            {{ country.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div
        *ngIf="(submitted || f.country.touched) && f.country.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.country.errors.required">Country is required</div>
      </div>
    </div>

    <div class="button-group">
      <button type="submit" class="submit" mat-raised-button color="primary">
        Signup
      </button>
      <button type="button" mat-raised-button>Cancel</button>
    </div>
  </form>
</cs-auth-layout>
