.auth-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .form-group {
    width: 48%;
    position: relative;
    margin-bottom: 15px;

    .mat-form-field {
      width: 100%;
    }
  }
  .button-group {
    margin-top: 20px;

    .submit {
      margin-right: 20px;
    }
  }

  .invalid-feedback {
    position: absolute;
    color: red;
    font-size: 10px;
    bottom: 0;
  }
}
